<h1 class="title">About me</h1>
<section class="section">
    <img src="assets/profile-image.jpg" alt="">
    <h2 class="about-text light-slate">
        Hello! My name is Ebikari Jerry and I make well designed and responsive websites.
        My interest in web development started back in 2020, during my fourth year as an
        undergraduate student, when I took a course titled "Internet and Web Technology",
        and although I couldn't fully devote my time to it back then, I had already decided
        that my professional life would be centered around web development.<br><br>
        After graduation, I fully engrossed myself in web development and I am now capable of
        working on projects of any scale. A few are available for review in the
        <a routerLink="/projects">project section</a>.
    </h2>
</section>
