<h1 class="title">About me</h1>
<section class="section">
    <img src="assets/profile-image.jpg" alt="">
    <h2 class="about-text light-slate">
        Hello! My name is Ebikari Jerry and I make well designed and responsive websites.
        I am a backend developer with a solid foundation in frontend web development.
        Having experience in both areas means that I am well equipped to work on either team,
        enhancing collaboration with team members to deliver standard solutions.
        <a routerLink="/projects">See personal projects</a>
    </h2>
</section>
