<h1 class="title">Projects</h1>
<div class="ui cards">
    <a href="https://ej-codequiz.netlify.app" target="_blank">
        <div class="ui card">
            <div class="ui slide masked reveal image">
              <img src="assets/project_images/ej-codequiz.png" class="visible content">
              <img src="assets/project_images/ej-codequiz1.png" class="hidden content">
            </div>
            <div class="content">
              <a class="header">Programming Quiz</a>
              <div class="meta">
                <span class="date">React</span>
              </div>
            </div>
            <!-- <div class="extra content">
              <a>
                <i class="users icon"></i>
                2 Members
              </a>
            </div> -->
        </div>
    </a>
</div>