.card-container {
    background-color: var(--lightest-slate);
    background-color: #eee;
    border: 3px solid var(--green);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 100px;
        max-width: 100px;
    }
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
        font-size: 16px;
        // font-size: clamp(16px, 3vw, 22px);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

i.icon {
    font-size: 100px;
}