.card-container {
    background-color: var(--lightest-slate);
    background-color: #fff;
    border: 3px solid var(--green);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
        font-size: clamp(16px, 3vw, 22px);
    }
}

i.icon {
    font-size: 100px;
}