.cards-container {
    margin-top: 20px;
    display: grid;
    justify-content: space-between;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 140px);
}

.title {
    text-transform: capitalize;
    margin-top: 40px;
    font-size: clamp(30px, 6vw, 40px);
    display: flex;
    align-items: baseline;
    padding: 0 !important;
    column-gap: 10px;
    color: var(--lightest-slate);
}

@media (min-width: 768px) {
    .title {
        margin-top: 60px;
    }
    .cards-container {
        margin-top: 50px;
    }   
}
