<i 
  *ngIf="isMobile() && !isVisible" (click)="sidebar.toggle()"
  class="sidebar-menu-icon clickable sidebar icon"
></i>
<i
  *ngIf="isMobile() && isVisible" (click)="sidebar.toggle()"
  class="sidebar-menu-icon clickable close icon"
></i>

<sui-sidebar-container
  (window:resize)="resize(sidebar)"
  class="ui bottom attached segment"
  style="background-color: #000; height: 100% !important; margin: 0 !important; border-bottom: 2px solid var(--navy);"
>
  <sui-sidebar 
    class="inverted vertical"
    [(isVisible)]="isVisible"
    [transition]="transition"
    [direction]="direction"
    [ngStyle]="sidebarStyles"
    #sidebar>
    <nav
      class="sidenav flex flex-column align-items-center"
      [ngStyle]="{paddingTop: isMobile() ? '40px': 0}">
      <div *ngIf="!isMobile()" class="logo" routerLink="/">
        EJ
      </div>
      <div class="navlinks flex flex-column align-items-center">
        <!-- HOME -->
        <div
          class="navlink"
          (click)="navlinkClicked()"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <i class="home icon"></i>
          <span>Home</span>
        </div>
        <!-- ABOUT -->
        <div
          class="navlink"
          (click)="navlinkClicked()"
          routerLink="/about"
          routerLinkActive="active"
        >
          <i class="user icon"></i>
          <span>About</span>
        </div>
        <!-- SKILLS -->
        <div
          class="navlink"
          (click)="navlinkClicked()"
          routerLink="/skills"
          routerLinkActive="active"
        >
          <i class="tasks icon"></i>
          <span>Skills</span>
        </div>
        <!-- PROJECTS -->
        <div
          class="navlink"
          (click)="navlinkClicked()"
          routerLink="/projects"
          routerLinkActive="active"
        >
          <i class="folder icon"></i>
          <span>Projects</span>
        </div>
        <!-- CONTACT -->
        <div
          class="navlink"
          (click)="navlinkClicked()"
          routerLink="/contact"
          routerLinkActive="active"
        >
          <i class="address card icon"></i>
          <span>Contact</span>
        </div>
        <a href="/assets/resume.pdf" target="_blank" class="green-outline-button resume-btn">
          Resume
        </a>
      </div>
      </nav>
  </sui-sidebar>
  <sui-sidebar-sibling
    [isDimmedWhenVisible]="isDimmedWhenVisible"
    [ngStyle]="sidebarSiblingStyles"
    (click)="!isMobile() ? sidebar.open() : ''"
  >
      <header *ngIf="isMobile()" class="header">
        <div class="mobile-logo" routerLink="/">
          EJ
        </div>
      </header>
      <div class="page-container">
        <router-outlet></router-outlet>
      </div>
  </sui-sidebar-sibling>
</sui-sidebar-container>