<div class="ui form">
  <div class="ui segment" [ngClass]="{loading: loading}">{{ output | json }}</div>
  <div class="radios">
    <div class="radio-field">
      <input type="radio" name="url" [value]="liveBaseUrl" [(ngModel)]="baseUrl">
      <label>Live URL</label>
    </div>
    <div class="radio-field">
      <input type="radio" name="url" [value]="devBaseUrl" [(ngModel)]="baseUrl">
      <label>Dev URL</label>
    </div>
    <div class="radio-field">
      <input type="radio" name="url" [value]="personalBaseUrl" [(ngModel)]="baseUrl">
      <label>Personal URL</label>
    </div>
  </div>
  <div style="display: flex; gap: 20px;">
    <button class="green-outline-button" (click)="loginToSmtp()">Login to SMTP</button>
    <button class="green-outline-button" (click)="makeDummyRequest()">Send Dummy Request</button>
  </div>
</div>
