<p class="intro">Hi, my name is</p>
<h2 class="big-heading lightest-slate name">Ebikari Jerry.</h2>
<h3 class="big-heading light-slate">I build beautiful and responsive websites.</h3>
<p class="about light-slate">
    I'm a frontend web developer with experience using HTML, CSS, JavaScript, Typescript, Angular and React.
    I am actively seeking jobs and freelancing opportunities.
</p>
<div class="buttons">
    <a class="green-outline-button contact-btn" routerLink="/contact">
        Get in touch
    </a>
    <a class="green-outline-button contact-btn" href="https://github.com/jerry-ebikari" target="_blank">
        <i class="github icon"></i>
        Github
    </a>
</div>
